html {
  font-family: "Inter", sans-serif;
}

.header-nav {
  ul > li {
    position: relative;

    // background: green;

    &.active-link::after,
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 29px;
      border-radius: 100px;
      background: #fdb022;

      position: absolute;
      bottom: -2px;

      transform-origin: bottom left;
      transition: transform 0.3s ease;
    }

    &.active-link {
      position: relative;
      // background: red;

      &::after {
        transform: scaleX(1);
      }
    }

    &::after {
      transform: scaleX(0);
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &.active-link {
      transform: scaleX(1);
    }
  }
}

.hero {
  min-height: 100vh;
  margin-top: 5rem;
  padding-top: 3rem;

  @media screen and (max-width: 800px) {
    padding-bottom: 5rem;
  }

  .hero-img-wrapper {
    @media screen and (min-width: 800px) {
      //   width: 50%;
    }

    .hero-img {
      padding: 3rem inherit;
      padding-bottom: 3rem;

      @media screen and (min-width: 800px) {
        display: block;
        // width: 200%;
        transform: scale(2);
        position: relative;
        left: -30%;

        z-index: 0;
      }
    }
  }
}

.why-creduss-swiper {
  // background: yellow;
  // min-height: 100vh;

  .mySwiper {
    // background: green;
    position: relative;
    // height: 100%;

    // overflow: visible;

    padding: 2rem 1rem;
    padding-bottom: 3.5rem;

    .swiper-slide {
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.5) 8.03%,
        #fff 57.24%
      );
      position: relative;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 2rem;

      border-radius: 1.35394rem;

      // background: blue;

      img {
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      background: #fdb022;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;

      right: -20px;
      // top: 50%;
      // transform: translateY(-50%);

      &::after {
        font-size: 0.75rem;
        font-weight: 700;
        color: #fff;
        // height: 20%;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }

    .swiper-pagination {
      // border: 1px solid white;
      // margin-top: 1rem;
      // height: 40px;

      .swiper-pagination-bullet {
        background: #fdb022;
      }
    }

    @media screen and (min-width: 768px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

.testimonials-swiper {
  overflow: hidden;
  // background: green;
  height: auto;
  // width: 20%;

  .mySwiper {
    overflow: visible;
    // background: red;
    height: auto;
    width: 20%;
    padding-bottom: 10rem;

    // height: 26.6875rem;
    // background: blue;

    .swiper-slide {
      margin-top: 3rem;
      border-radius: 1.25rem;
      opacity: 0.6;
      padding: 1rem;
      background: white;

      &.swiper-slide-active {
        // background: yellow;
        opacity: 1;
        transform: scale(1.3);
        margin-left: 3rem;
        margin-right: 3rem;
        // padding: 1rem;

        // width: 30% !important;
      }
      // background: yellow;

      .desc {
        background: linear-gradient(
          113deg,
          rgba(255, 255, 255, 0.51) 3.51%,
          rgba(255, 255, 255, 0) 111.71%
        );

        padding: 1rem;
        text-align: center;
      }
    }

    @media screen and (max-width: 768px) {
      width: 90%;
      padding-bottom: 0;

      .swiper-slide {
        &.swiper-slide-active {
          transform: scale(1);
          margin: 0;
          // margin-left: 3rem;
          // margin-right: 3rem;
        }
      }
    }
  }
}

.custom-swiper-controls {
  // background: white;
  // color: black;

  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  // transform: scaleX(2);

  display: flex;
  justify-content: center;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

footer {
  .our-processes {
    img {
      transform: scale(1.1);
    }
  }
  .mob-footer-nav {
    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.local-steps {
  background: linear-gradient(273deg, #000 26.59%, rgba(0, 0, 0, 0) 94.7%),
    url("../public/icons/local-bg.png") no-repeat;
  background-size: cover;
}
.steps-desc {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.5) 8.03%,
    #fff 57.24%
  );
}
.intl-steps {
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.5) 8.03%,
      #fff 57.24%
    ),
    url("../public/icons/intl-bg.png") no-repeat;
  background-size: cover;
}
